# Lede Algorithms -- Assignment 1

In this assignment you will use a little algebra to figure out how to take the average of averages.

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import requests

%matplotlib inline

First, read in the titanic.csv data set.

In [14]:
df = pd.read_csv("titanic.csv")
df.head()

,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,gender
0,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,-135,male
3,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

Compute the average survival rate (mean of the `survived` column)

In [15]:
df['survived'].mean()

0.341964965727342

Now compute the average survival rates of the male and female 1st, 2nd, and 3rd class passengers (six groups in total)

In [16]:
df.groupby(by='gender')['survived'].count()

gender
female    463
male      850
Name: survived, dtype: int64

In [17]:
df.groupby(by='gender')['survived'].value_counts()

gender  survived
female  1           307
        0           156
male    0           708
        1           142
Name: survived, dtype: int64

## Male Survival Rate: 16.70%
## Female Survival Rate:  66.30%

In [18]:
142/850

0.16705882352941176

In [19]:
307/463

0.6630669546436285

In [20]:
df.groupby(by='pclass')['survived'].count()

pclass
1st    322
2nd    280
3rd    711
Name: survived, dtype: int64

In [21]:
df.groupby(by='pclass')['survived'].value_counts()

pclass  survived
1st     1           193
        0           129
2nd     0           161
        1           119
3rd     0           574
        1           137
Name: survived, dtype: int64

## First Class Survival Rate: 59.93%
## Second Class Survival Rate: 42.5% 
## Third Class Survival Rate: 19.26%

In [22]:
193/322

0.5993788819875776

In [23]:
119/280

0.425

In [24]:
137/711

0.19268635724331926

Compute the average of these six averages. Is it the same as the the overall average?

In [25]:
#It's not the same as the overall average—it is higher
(34.19+16.70+66.30+59.93+42.5+19.26)/(6)

39.81333333333333

How would you compute the overall average from the average of averages? Start with the formulas

$$mean = \frac{\sum_{i=1}^N x_i}{N}$$

for the overall mean, where $x_i$ is data value $i$ and $N$ is the total number of values, and

$$mean_k = \frac{\sum_{i=1}^{N_k} xk_i}{N_k}$$

is the mean of group $k$, where $xk_i$ is value $i$ of group $k$ and $N_k$ is the number of values in group $k$, and

$$N = \sum_{i=1}^M N_k$$

relates the total number of values $N$ to the number of values in each of the $M$ groups.

Your task is to derive a formula that computes $mean$ using only $mean_k$, the $N_k$, and $N$. Note: this question is not asking you to write code! Rather, you must answer two questions:

- What is the correct formula?
- How can we derive this formula starting from the formulas above?

## Answer / Response: 

The first formula is the calculation overall for mean. The second formula is the calculation for a group (a column), as the extra variable K. Big N is equal to the sum of the values, and Nk would give the total number of people in a column. I think the solution would be to take 1/6 of each percentage and use that as the average to equal out the weight? Otherwise, it might be the survival averages divived by the total number of people.

Now use this formula to calculate the overall mean. Does it match?

In [26]:
(1/6)*(34.19) + (1/6)*(16.70) + (1/6)*(66.30) + (1/6)*(59.93) + (1/6)*(42.5) + (1/6)*(19.26)

39.81333333333333

In [27]:
df['name'].count()

1313

In [28]:
(34.19+16.70+66.30+59.93+42.5+19.26)/(1313)

0.18193450114242193

In [30]:
#Welp, I got the same number with that method. 
#Unless it's 18.19 percent because it's the average survival divided by the number of people.

In [8]:
(34.19)*(449/1313) + (16.70)*(850/1313) + (66.30)*(463/1313) + (59.93)*(193/322) + (42.50)*(119/280) + (19.26)*(137/711)

103.57652531052756

In [9]:
(103.57652531052756)/(6)

17.26275421842126